{% extends 'blogapp/base.html' %}

{% block title %}
Login - My Blog
{% endblock %}

{% block content %}
<div class="jumbotron bg-primary text-white">
    <h1 class="display-4">Welcome Back!</h1>
    <p class="lead">Log in to your account to continue writing and engaging with the community.</p>
    <hr class="my-4">
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
                {% if form.errors %}
                    <div class="alert alert-danger mt-3">
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
